.feedback__slide {
    display: flex;
    justify-content: center;
    align-items: center;

    .feedback__author-photo {
        margin-right: 42px;
        width: 167px;
        height: 167px;
        display: flex;
        justify-content: center;

        img {
            width: 167px;
            height: 167px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .feedback__author-text {
        width: 462px;
        .feedback__author-name{
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #452A32;
        }
        p{
            margin-top: 16px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 23px;
            color: #917D83;
            opacity: .9;
        }
    }
}
