.sneakers__dd-button {
    margin-top: 40px;
    width: 226px;
    height: 44px;
    position: absolute;
    top: 260px;
    z-index: 10;
    border: 1px solid #F2E0E5;
    color: #917D83;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 14px;
    font-family: Roboto;
    line-height: 125%;
    padding-left: 25px;
    padding-top: 13px;
    background-color: #fff;
    cursor: pointer;

    @include media(0, 1000px){
        top: 300px;
    }
    @include media(0, 780px){
        top: 670px;
        left: 30%;
        text-align: left;
    }
    @include media(0, 458px){
        top: 690px;
        left: 23%;
        text-align: left;
    }
    @include media(0, 413px){
        top: 700px;
        left: 23%;
        text-align: left;
    }

    > .arrow {
        position: absolute;
        color: #917D83;
        font-size: 30px;
        display: inline;

        &_down {
            transform: rotate(90deg);
            right: 20px;
        }

        &_up {
            transform: rotate(270deg);
            right: 25px;
        }
    }

    .dd-button__dropdown li {
        width: 170px;
        padding: 10px;
    }

    .dd-button__dropdown_on {
        position: absolute;
        top: 45px;
        left: 25px;
        visibility: visible;

        li:hover {
            background: #bebebe;
            border-radius: 10px;
        }

    }
    .dd-button__dropdown_off {
        position: absolute;
        visibility: hidden;
    }

}
