.sneakers {
    max-width: 1165px;
    width: 100%;
    height: 638px;
    margin: 0 auto;
    margin-top: 71px;
    @include media(0, 780px){
        margin-top: 15px;
        
    }
    
    .sneakers__headline {
        max-width: 1126px;
        height: 38px;
        font-family: Rubik;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 42px;
        line-height: 50px;
        color: #452A32;
    }
    .sneakers__pinky-model {
        margin-top: 58px;
        position: relative;
        max-width: 1163.8px;
        width: 100%;
        height: 541.8px;
        border: 0.1px solid rgba(0,0,0,0);
        display: flex;
        justify-content: space-between;
        @include media(0, 780px){
            flex-direction: column;
            margin-top:20px;
            // justify-content: center;
        }
        @import "pinky-model";
    }
}
