.sneakers__tabs {
    width: 436px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0;
    float: left;

    .sneakers__tab {
        display: inline-block;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        font-family: Roboto;
        color: #BEBEBE;
        text-transform: capitalize;
        margin-right: 48px;
        background-position: 0 100%, 0 0;
        background-repeat: no-repeat;
        background-size: 100% 4px;
        cursor: pointer;

        &_active,
        &:hover {
            background-image: linear-gradient(to left, #FFC670 -58.54%, #FF6492 159.35%);
            color: #452A32;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
