html{
  height: 100%;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./res/ofont.ru_Proxima Nova.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("./res/Rubik-Bold.ttf");

  font-weight: bold;
}

@font-face {
  font-family: "Rubik";
  src: url("./res/Rubik-Regular.ttf");

  font-weight: normal;
}


body{
  width: 1440px;
  margin: 0 auto;
  height: 100%;
  background-color: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

ol, ul{
  list-style: none;
}


.container{
  width: 1150px;
  height: 40px;
}

.clearfix::after,
.clearfix::before{
  content:" ";
  display: table;
}

.clearfix::after{
  clear:both;
}

#wrapper{
  position: relative;
}

#header{
  font-family: Proxima Nova;
  font-size: 16px;
  line-height: 19px;
  position:absolute;
  width: 1150px;
  top: 32px;
  left: 146px;
  color: #fff;
  z-index: 10;
}


.logo{
  float: left;
  margin-top: 0px;
}

.menu {
  padding-top: 11px;
  float: left;
  /* margin:0 auto; */
  margin-left: 224px;
}

.menu li{
  float: left;
  margin-right: 40px;
}

.menu li:last-child{
  margin-right: 0;
}

.menu a{
  font-size: 16px;
  color: #fff;
}

.contact {
  font-size: 16px;
  font-weight: bold;
  padding-top: 11px;
  float:right;
}

#first-window{
  position: relative;
  z-index: 0;
  height: 733px;
  background: url("./imgs/sweet morning") no-repeat;
  background-size: cover;
  padding-top: 209px;;
  padding-left: 130px;
  padding-right: 150px;
}

.swiper-button-prev, .swiper-button-next {
  color: #fff;
  width: 48px;
  height: 48px;
  top: 160px;
  border: 1px solid white;
  border-radius: 140px;
}

.swiper-container {
  /* width: 1140px; */
  /* margin: auto;
  left: -150px; */
  height: 460px;;
}

.slide {
  position: relative;
  top: 0;
  left: 0;
  width: 1140px;
  height: 450px;
  margin-left: 110px;;
}

.sneaker {
  height: 100%;
  float: left;
  /* padding-top: 50px; */
  padding-left: 10px;
}

.sneaker .ellipse {
  position:absolute;
  left: 30px;
  top: 10px;
  width: 304px;
  height: 311px;
  border-radius: 300px;
  background-color: rgba(252, 228, 18, 0.94);
}

.sneaker img {
  position:absolute;
  width: 373px;
  height: 361px;
  transform: rotate(30deg);
}

.sneaker .add {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 30px;
  background-color: #E87747;
  display: flex;
  bottom: 127px;
  left: 235px;
  cursor: pointer;
}

.sneaker .add .add-symbol {
  font-size: 37px;
  font-weight: bold;
  color: #fff;
  margin: auto;
}

.slide .text{
  margin-right: 199px;
  float: right;
  color: #fff;
}

.slide .text .big-text{
  font-style: italic;
  text-transform: uppercase;
}

.slide .text .big-text span:first-child{
  font-family: Rubik;
  font-size: 72px;
  line-height: 85px;
  font-weight: bold;
}

.slide .text .big-text span:last-child{
  font-size: 48px;
  font-family: Rubik;
  line-height: 57px;
  font-weight: bold;
}

.slide .text .small-text{
  font-family: Proxima Nova;
  font-size: 18px;
  line-height: 27px;

}

.slide .button{
  font-size: 16px;
  font-family: Proxima Nova;
  line-height: 19px;
  text-align: center;
  color: #AF3838;
  width: 180px;
  height: 40px;
  background-color: rgba(255, 245, 4, 0.93);
  box-shadow: 0px 4px 20px rgba(130, 22, 22, 0.2);
  border-radius: 300px;
  padding-top: 10px;
  font-weight: bold;
  float: left;
  margin-top: 60px;
  cursor: pointer;
}


.swiper-pagination-bullet {
  width: 98px;
  height: 3px;
  background-color:  #FFFFFF;
  opacity: 0.3;
  border-radius: 300px;
}

.swiper-pagination-bullet-active{
   background-color: #FCF312;
   opacity: 1;
   border-radius: 300px;

}

.next-window {
  width: 34px;
  height: 142px;
  position: absolute;
  bottom: 30px;
  z-index: 10;
}
.next-window .text {
  font-family: Proxima Nova;
  transform: rotate(-90deg);
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.next-window .arrow {
  padding-top: 10px;
  /* position: absolute; */
  text-align: center;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: 26px;
  height: 44px;
  left: 150px;
  top: 626px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 600px;
}

.social-media{
  position:absolute;
  right: 146px;
  bottom: 74px;
  z-index: 10;
}

.social-media div{
  display: inline;
  vertical-align: middle;
  margin-left:23px;
}

#second-window {
  height: 788.9px;
  background-color: #fff;
  border-top: 0.1px solid #fff;
}

#second-window .sneakers {
  width: 1165px;
  height: 638px;
  margin-top: 71px;
  margin-left: 128px;
}

#second-window .sneakers .headline {
  width: 1126px;
  height: 38px;
  font-family: Rubik;
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  color: #452A32;
}

#second-window .sneakers .pinky-model {
  margin-top: 58px;
  width: 1163.8px;
  height: 541.8px;
  /* background-color: blue; */
  border: 0.1px solid #fff;
}

#second-window .sneakers .pinky-model .tabs{
  width: 436px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0;
  float: left;
}

#second-window .sneakers .pinky-model .tabs .tab {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-family: Roboto;
  /* color: #452A32; */
  color: #BEBEBE;
  text-transform:capitalize;
  margin-right: 48px;
  background-position:  0 100%, 0 0;
  background-repeat: no-repeat;
  background-size: 100% 4px;
  cursor: pointer;
}

#second-window .sneakers .pinky-model .tabs .tab:hover,
#second-window .sneakers .pinky-model .tabs .tab-active {
  background-image: linear-gradient(to left, #FFC670 -58.54%, #FF6492 159.35%);
  color: #452A32;/* border-bottom: 4px solid blue; */
}

#second-window .sneakers .pinky-model .tabs .tab:last-child{
  margin-right: 0;
}

#second-window .pinky-model .photo{
  margin-top: 42px;
  width: 594px;
  height: 470px;
  margin-left: -10px;
  float: left;
}

#second-window .pinky-model .gallery-top{
  width: 594px;
  height: 360px;
}

#second-window .pinky-model .gallery-thumbs{
  height: 96px;
  padding-top: 14px;
  width: 557px;
  background-color: #fff;

}

#second-window .pinky-model .gallery-top .swiper-slide{
  position: relative;
}

#second-window .pinky-model .gallery-top img{
  right: 18.5px;
  position:absolute;
  width: 557px;
  bottom: 0px;
  padding: auto;
}

#second-window .pinky-model .gallery-top .swiper-slide:last-child>img{
  bottom: -90px;
}

#second-window .pinky-model .gallery-thumbs .swiper-slide{
  position: relative;
  width: 144px;
  padding-right: 17px;
  height: 96px;
  opacity: 0.6;
  overflow: hidden;
}

#second-window .pinky-model .gallery-thumbs .swiper-slide-thumb-active{
  opacity: 1;
}

#second-window .pinky-model .gallery-thumbs img{
  position: absolute;
  width: 140px;
  bottom: 0px;
}

#second-window .pinky-model .gallery-thumbs .swiper-slide:last-child > img{
  bottom: -20px;
}

#second-window .pinky-model .swiper-button-next,
#second-window .pinky-model .swiper-button-prev{
  border:0;
  background-color: #FF6492;
  width: 40px;
  height: 40px;
}

#second-window .pinky-model .swiper-button-next{
  right: 0;
}

#second-window .pinky-model .swiper-button-prev{
  left: 0;
}

#second-window .pinky-model .info{
  width: 459px;
  height: 496px;
  margin-left: 111px;
  margin-top: -30px;
  float: right;
}


#dd-size {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    width: 226px;
    height: 44px;
    position: absolute;
    z-index: 10;
    border: 1px solid #F2E0E5;
    color: #917D83;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 14px;
    font-family: Roboto;
    line-height: 125%;
    padding-left: 25px;
    padding-top: 13px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

#dd-size>.arrow-down {
    transform: rotate(90deg);
    position: absolute;
    color: #917D83;
    font-size: 30px;
    right: 20px;
    display: inline;
}

#dd-size>.arrow-up {
    transform: rotate(270deg);
    position: absolute;
    color: #917D83;
    font-size: 30px;
    right: 25px;
    display: inline;
}

#dd-size .non-active {
    position: absolute;
    visibility: hidden;
}

#dd-size .active {
    position: absolute;
    top: 45px;
    left: 25px;
    visibility: visible;
}

#dd-size .dropdown li {
    width: 170px;
    padding: 10px;
}

#dd-size .active li:hover {
    background: #bebebe;
    border-radius: 10px;
}

/* конец недоделанного кода для кнопки выбора размера */

#second-window .info h1{
  font-size: 32px;
  line-height: 38px;
  color: #452A32;
  font-family: Rubik;
  font-weight: normal;
  margin-bottom: 24px;
}

#second-window .info p{
  font-size: 16px;
  line-height: 23px;
  color: #917D83;
  font-family: Roboto;
  font-weight: normal;
  opacity: 0.9;
}

#second-window .prices{
  margin-top: 125px;
  font-family: Rubik;
  font-weight: normal;
}

#second-window .prices span:first-child{
  color: #FF6492;
  font-size: 24px;
  line-height: 28px;

}

#second-window .prices span:nth-child(2){
  color: #FF6492;
  margin-left: 6px;
  font-size: 16px;
  line-height: 18.96px;
  vertical-align: top;
}

#second-window .prices span:nth-child(3){
  color: #BEBEBE;
  margin-left: 18px;
  font-size: 20px;
  line-height: 24px;
  vertical-align: top;
}

#second-window .prices span:nth-child(4){
  color: #BEBEBE;
  margin-left: 6px;
  font-size: 16px;
  line-height: 18.96px;
  vertical-align: top;
}

#second-window .prices div.line{
  position: relative;
  display: inline-block;
  right: 70px;
  bottom: 10px;
  width: 59px;
  height:2px;
  border: 1.9px solid #BEBEBE;
  transform: matrix(0.99, -0.14, 0.13, 0.99, 0, 0);
}

#second-window .button {
  width: 226px;
  height: 44px;
  margin-top: 32px;
  background: linear-gradient(to left, #FFAC70 0%, #FF6492 100%);
  box-shadow: 0px 16px 30px rgba(255, 100, 146, 0.2);
  border-radius: 600px;
  cursor: pointer;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}
