.pay-and-delivery {
    height: 535.9px;
    weight: 100%;
    background-color: #F9F9F9;
    border: 0.1px solid #F9F9F9;
    
    .pay-and-delivery__headline {
        display: flex;
        justify-content: center;
        margin-top: 72px;
        @include media(0, 900px){
            margin-top: 30px;
        }

        p {
            font-family: Rubik;
            font-size: 42px;
            font-weight: 500;
            line-height: 50px;
            color: #452A32;
        }
    }

    @import "icons";
    @import "button";

}
