.slide__sneaker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 100px;

    &-ellipse {
        position: absolute;
        @include size(330px);
        background-color: rgba(252, 228, 18, .94);
        border-radius: 50%;
    }

    &-img {
        padding-top: 30px;
        transform: rotate(30deg);
        width: 373px;
        height: 361px;
    }

    &-add-button {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #e87747;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        right: 80px;
        bottom: 20px;

        p {
            font-size: 38px;
            color: #fff;
            font-weight: 700
        }
    }

    @include media(0, 1083px) {
        margin-right: 70px;

        .slide__sneaker-add-button {
            @include size(37px);

            p {
                font-size: 33px;
            }
        }

        .slide__sneaker-img {
            @include size(330px, 361px - 43);
        }

        .slide__sneaker-ellipse {
            @include size(300px);
        }
    }

    @include media(0, 830px) {
        margin-right: 40px;

        .slide__sneaker-add-button {
            @include size(33px);

            p {
                font-size: 29px;
            }
        }

        .slide__sneaker-img {
            @include size(290px, 290px - 43);
        }

        .slide__sneaker-ellipse {
            @include size(250px);
        }
    }
}