#header {
    font-family: Proxima Nova;
    line-height: 19px;
    position: absolute;
    width: 1150px;
    top: 32px;
    left: 146px;
    color: #fff;
    z-index: 10;
    .container{
      width: 1150px;
      height: 40px;
    }
}

.logo {
    float: left;
    margin-top: 0;
}

.menu {
    padding-top: 11px;
    float: left;
    margin-left: 224px;

    & li {
        float: left;
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        a {
            font-size: 16px;
            color: #fff;
        }
    }
}

.contact {
    font-size: 16px;
    font-weight: bold;
    padding-top: 11px;
    float: right;
}
