#first-screen {
    position: relative;
    // z-index: 0;
    height: 733px;
    background: url("../imgs/sweet morning.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @import 'header';

    @import "slider/slider";



    .social-media {
        position: absolute;
        right: 146px;
        bottom: 74px;
        z-index: 10;

        & div {
            display: inline;
            vertical-align: middle;
            margin-left: 23px;
        }
    }

    .scroll-down {
        width: 34px;
        height: 142px;
        left: 148px;
        position: absolute;
        bottom: 63px;
        z-index: 10;

        .scroll-down__text {
            font-family: Proxima Nova;
            transform: rotate(-90deg);
            margin-bottom: 24px;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }

        .scroll-down__arrow {
            padding-top: 10px;
            text-align: center;
            vertical-align: bottom;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            width: 26px;
            height: 44px;
            left: 150px;
            top: 626px;
            border: 2px solid #fff;
            box-sizing: border-box;
            border-radius: 600px;
        }
    }
    @media (max-width: 1440px) {
        width: 100%;
    }
    @include media(0, 650px){
        height: 850px;

    }
}
