.sneakers {
    width: 1165px;
    height: 638px;
    margin-top: 71px;
    margin-left: 128px;
    .headline {
        width: 1126px;
        height: 38px;
        font-family: Rubik;
        text-align: center;
        font-weight: 500;
        font-size: 42px;
        line-height: 50px;
        color: #452A32;
    }
    .pinky-model {
        margin-top: 58px;
        width: 1163.8px;
        height: 541.8px;
        border: 0.1px solid #fff;
        @import "pinky-model";
    }
}
