.contacts{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 433px;
    background-color: #24303E;
    color: #fff;
    font-family: Proxima Nova;
    font-style: normal;

    @include media(0, 1024px){
        flex-direction: column;
        height: 866px;;
        margin: 0 auto;
    }

    .contacts__map{
        max-width: 700px;;
        @include media(0, 1024px){
            max-width: 1024px;
        }
    }

    .contacts__info{
        width: 50%;
        margin: 64px;
        .contacts__phone{
            font-size: 24px;
            line-height: 29px;
        }
        .contacts__mail, .contacts__address{
            font-size: 16px;
            line-height: 19px;
            margin-top: 16px;
        }
        .contacts__address{
            margin-top: 32px;
        }
        .contacts__social-media{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 64px;
            div{
                margin: 0 35px 0 0;;
                & svg:last-child{
                    margin:0;
                }
            }
        }
        .contacts__developer{
            position:absolute;
            bottom: 64px;
            color: #607894;
        }
    }
}
