.contacts {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 433px;
    background-color: #24303E;
    color: #fff;
    font-family: Proxima Nova;
    font-style: normal;

    @include media(0, 1024px) {
        flex-direction: column;
        height: 866px;
        ;
        margin: 0 auto;
    }

    &__map {
        max-width: 700px;
        ;

        @include media(0, 1024px) {
            max-width: 1024px;
        }
    }

    &__info {
        width: 50%;
        margin: 64px;
    }

    &__phone {
        font-size: 24px;
        line-height: 29px;
    }

    &__mail,
    &__address {
        font-size: 16px;
        line-height: 19px;
        margin-top: 16px;
    }

    &__address {
        margin-top: 32px;
    }

    &__social-media {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 64px;

        div {
            margin: 0 35px 0 0;
            ;

            svg:last-child {
                margin: 0;
            }
        }
    }

    &__developer {
        position: absolute;
        bottom: 64px;
        color: #607894;
    }
}