#feedback {
    height: 469.9px;
    width: 100%;
    border: 0.1px solid #fff;
    background: #fff;

    .headline {
        margin-top: 72px;
        display: flex;
        justify-content: center;

        p {
            font-family: Rubik;
            font-weight: 500;
            font-size: 42px;
            line-height: 50px;
            color: #452A32;
        }
    }

    @import "slider";
}
